<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style1_.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png" />
  <link rel="manifest" href="../favicon_io/site.webmanifest" />
  <title>Edu Learning</title>
</head>

<body>
  <header>
    <h1 class="heading">Edu Learning Home</h1>
  </header>
  <!-- NAVIGATION BAR CODE STARTS------------------------------------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-light" id="myTopnav">
    <a class="navbar-brand active mypadding" style="margin-left: 3px; font-weight: bolder;" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link mymargin" href="../page_2/page2_home.html">Edu-Vidoes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mymargin" href="../page_3/page3_home.html">Edu-Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mymargin" href="../page_4/page4_home.html">Edu-forms</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Contact
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"
            style="border-radius: 5px; border: 4px solid #222831;">
            <a class="dropdown-item" href="#">Instagram
              <hr>
            </a>

            <a class="dropdown-item" href="#">Facebook
              <hr style="list-style: circle;">
            </a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#">Linked In
              <hr>
            </a>
          </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
  </nav>
  <!-- Navigation bar code ends------------------------------ -->

  <!-- CONTENCT CODE STARTS---------------------------------- -->
  <div class="content">
    <div class="container">
      <div class="item" id="item1_hover" onmouseover="resize_it('item1_hover')" onmouseout="size_it('item1_hover')">
        <h1>What is the use of this website?</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          delectus ipsa voluptates ipsum sapiente laboriosam, eveniet numquam
          aspernatur laudantium tempora earum. Minima aut est quaerat debitis
          voluptatem magni facere possimus voluptate quo harum eaque omnis
          exercitationem aliquam perspiciatis, corporis recusandae laudantium
          veniam quos voluptatibus sint. In provident quis corrupti iste.
        </p>
      </div>
      <div class="item" id="item2_hover" onmouseover="resize_it('item2_hover')" onmouseout="size_it('item2_hover')">
        <h1>What is the use of this website?</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          delectus ipsa voluptates ipsum sapiente laboriosam, eveniet numquam
          aspernatur laudantium tempora earum. Minima aut est quaerat debitis
          voluptatem magni facere possimus voluptate quo harum eaque omnis
          exercitationem aliquam perspiciatis, corporis recusandae laudantium
          veniam quos voluptatibus sint. In provident quis corrupti iste.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="item" id="item3_hover" onmouseover="resize_it('item3_hover')" onmouseout="size_it('item3_hover')">
        <h1>What is the use of this website?</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          delectus ipsa voluptates ipsum sapiente laboriosam, eveniet numquam
          aspernatur laudantium tempora earum. Minima aut est quaerat debitis
          voluptatem magni facere possimus voluptate quo harum eaque omnis
          exercitationem aliquam perspiciatis, corporis recusandae laudantium
          veniam quos voluptatibus sint. In provident quis corrupti iste.
        </p>
      </div>
      <div class="item" id="item4_hover" onmouseover="resize_it('item4_hover')" onmouseout="size_it('item4_hover')">
        <h1>What is the use of this website?</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          delectus ipsa voluptates ipsum sapiente laboriosam, eveniet numquam
          aspernatur laudantium tempora earum. Minima aut est quaerat debitis
          voluptatem magni facere possimus voluptate quo harum eaque omnis
          exercitationem aliquam perspiciatis, corporis recusandae laudantium
          veniam quos voluptatibus sint. In provident quis corrupti iste.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="item" id="item5_hover" onmouseover="resize_it('item5_hover')" onmouseout="size_it('item5_hover')">
        <h1>What is the use of this website?</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          delectus ipsa voluptates ipsum sapiente laboriosam, eveniet numquam
          aspernatur laudantium tempora earum. Minima aut est quaerat debitis
          voluptatem magni facere possimus voluptate quo harum eaque omnis
          exercitationem aliquam perspiciatis, corporis recusandae laudantium
          veniam quos voluptatibus sint. In provident quis corrupti iste.
        </p>
      </div>
      <div class="item" id="item6_hover" onmouseover="resize_it('item6_hover')" onmouseout="size_it('item6_hover')">
        <h1>What is the use of this website?</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          delectus ipsa voluptates ipsum sapiente laboriosam, eveniet numquam
          aspernatur laudantium tempora earum. Minima aut est quaerat debitis
          voluptatem magni facere possimus voluptate quo harum eaque omnis
          exercitationem aliquam perspiciatis, corporis recusandae laudantium
          veniam quos voluptatibus sint. In provident quis corrupti iste.
        </p>
      </div>
    </div>
  </div>
  <script>
    window.onscroll = function () {
      myFunction1();
    };
  
    var navbar = document.getElementById("myTopnav");
    var sticky = navbar.offsetTop;
  
    function myFunction1() {
      if (window.pageYOffset >= sticky) {
        if (screen.width > 600) {
          navbar.classList.add("sticky");
        } else {
          navbar.classList.remove("sticky");
        }
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
  
  <script>
    
    function resize_it(id){
      let hover=document.getElementById(id);
      hover.style.margin = '10px';
      // hover.style.padding = '50px';
      hover.style.transitionDuration = '1s';
    }
  
    function size_it(id){
      let hover=document.getElementById(id);
      hover.style.margin = '25px';
      // hover.style.padding = '25px'
      hover.style.transitionDuration= '0s';
    }
  </script>
  <!-- Optional JavaScript; choose one of the two! -->
  
  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <!-- <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
     <script
       src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script> -->
  
  <!-- s Option 2: Separate Popper and Bootstrap JS  -->
  
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>


</html>