<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style2.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
  <!-- for like symbol -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png" />
  <link rel="manifest" href="../favicon_io/site.webmanifest" />
  <title>Edu Learning</title>
</head>

<body>
  <header>
    <div>Edu Learning Videos</div>
  </header>
  <!-- NAVIGATION BAR CODE STARTS------------------------------------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-light" id="myTopnav"
    style="background-color: #222831 !important; padding: 0; padding-top: 5px; font-family: Georgia, 'Times New Roman', Times, serif;">
    <a class="navbar-brand active mypadding" style="margin-left: 3px; font-weight: bolder;" href="#">Edu-Vidoes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link mymargin" href="../page_1/page1_home.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mymargin" href="../page_3/page3_home.html">Edu-notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mymargin" href="../page_4/page4_home.html">Edu-forms</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Contact
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"
            style="border-radius: 5px; border: 4px solid #222831;">
            <a class="dropdown-item" href="#">Instagram
              <hr>
            </a>

            <a class="dropdown-item" href="#">Facebook
              <hr style="list-style: circle;">
            </a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#">Linked In
              <hr>
            </a>
          </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
  </nav>
  <!-- Navigation bar code ends------------------------------ -->

  <!-- CONTENCT CODE STARTS---------------------------------- -->
  <div class="content">
    <div class="main-container">
      <h1 class="container-heading"> <span> Movie trailers </span></h1>
      <div class="container">
        <!-- VIDEO 1 OF CONTAINER 1 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/f_vbAtFSEc0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Rise Roar Revolt (RRR)</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Pen movies</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Dec 9,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              60,521,741</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 2 OF CONTAINER 1 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/vM-Bja2Gy04" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Justice League Synder cut</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>HBO Max</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Feb 14,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              29,625,773</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 3 OF CONTAINER 1 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/Qah9sSIXJqk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">K.G.F chapter-2</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Hombale Films</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Jan 7,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              233,386,130</h5>
          </div>
        </div>
        <!--------------------------------------- -->
        <!-- <hr> -->
        <!-- VIDEO 4 OF CONTAINER 1 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/ZYzbalQ6Lg8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Spiderman Trailer</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Marvel Entertainment</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Nov 17,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              37,396,979</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 5 OF CONTAINER 1 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/Af_Hj0MDBBQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">The silent sea</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Netflix</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Dec 10,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              4,541,012</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 6 OF CONTAINER 1 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/Pj0wz7zu3Ms" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Red Notice</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Netflix</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Oct 21,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              5,604,467</h5>
          </div>
        </div>
        <!--------------------------------------- -->
      </div>
    </div>
    <!----------x------------------x----------------x--------------------x---------------x-----------x------------x--------x--------x--------x-------x-------x----->

    <!-- Main container ->2 -->
    <div class="main-container">
      <h1 class="container-heading"> <span> Operating System Lectures</span></h1>
      <div class="container">
        <!-- VIDEO 1 OF CONTAINER 2 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/MZdVAVMgNpA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">First In First Out(CPU scheduling)</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Gate Smashers</h6>
            </div>
            <div>
              <h6 style="text-align: right;">May 19,2018</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              597,855</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 2 OF CONTAINER 2 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/VCIVXPoiLpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Shortest Job First(CPU scheduling)</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Gate Smashers</h6>
            </div>
            <div>
              <h6 style="text-align: right;">May 19,2018</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              534,829</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 3 OF CONTAINER 2 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/hoN7_VMzw_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Shortest Time Remaining First(CPU..)</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Hombale Films</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Jan 7,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              233,386,130</h5>
          </div>
        </div>
        <!--------------------------------------- -->
        <!-- <hr> -->
        <!-- VIDEO 4 OF CONTAINER 2 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/ZYzbalQ6Lg8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Spiderman Trailer</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Marvel Entertainment</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Nov 17,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              37,396,979</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 5 OF CONTAINER 2 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/Af_Hj0MDBBQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">The silent sea</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Netflix</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Dec 10,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              4,541,012</h5>
          </div>
        </div>
        <!--------------------------------------- -->

        <!-- VIDEO 6 OF CONTAINER 2 -->
        <div class="item" style="background-color: #f4f7f6;">
          <iframe class="iframeHW" src="https://www.youtube.com/embed/Pj0wz7zu3Ms" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div class="subcontent-1">
            <h5 class="subheading">Red Notice</h5>
          </div>
          <div class="container subcontent-2">
            <div>
              <h6>Netflix</h6>
            </div>
            <div>
              <h6 style="text-align: right;">Oct 21,2021</h6>
            </div>
          </div>
          <hr>
          <div class="subcontent-1">
            <h5 class="subheading"> <i class="fa fa-youtube-play" style="font-size:18px;color:red"></i> views :
              5,604,467</h5>
          </div>
        </div>
        <!--------------------------------------- -->
      </div>
    </div>
    <!----------x------------------x----------------x--------------------x---------------x-----------x------------x--------x--------x--------x-------x-------x----->
  </div>
</body>
<script>
  window.onscroll = function () {
    myFunction1();
  };

  var navbar = document.getElementById("myTopnav");
  var sticky = navbar.offsetTop;

  function myFunction1() {
    if (window.pageYOffset >= sticky) {
      if (screen.width > 600) {
        navbar.classList.add("sticky");
      } else {
        navbar.classList.remove("sticky");
      }
    } else {
      navbar.classList.remove("sticky");
    }
  }

</script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<!-- <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
   <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"
  ></script> -->

<!-- s Option 2: Separate Popper and Bootstrap JS  -->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
  integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</html>